DEEPSEEK_API_KEY=
FEISHU_WEBHOOK_URL=
PRIVATE_DATA_REPO_PAT=
PRIVATE_DATA_REPO=
PUBLIC_BASE_URL=
DISCOVERY_PROVIDER_SAMPLE_FILE=
DISCOVERY_PROVIDER_SEARCH_TEMPLATES=[]
DISCOVERY_PROVIDER_REQUEST_HEADERS={}
